#ai_chat_button {
  visibility: visible;
  position: fixed;
  bottom: 1.9rem;
  right: 2rem;
  width: 36px;
  transition: 0.2s;
  z-index: 1000;
  padding-bottom: 4px;
  margin-bottom: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-secondary-border);
}
#ai_chat_button .icon {
  width: auto;
  margin-right: 0;
}
#ai_chat_button:hover {
  filter: hue-rotate(10deg) brightness(90%);
}

@media (max-width: 576px) {
  #ai_chat_button {
    top: 79vh;
    right: 0.5rem;
    bottom: unset;
  }
}
.drawer-right.show #ai_chat_button,
.show-drawer-right #ai_chat_button {
  right: calc(315px + 2rem);
}

.ai_chat_modal .modal-title {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.ai_chat_modal .modal-body {
  display: flex;
  padding: 1rem;
}
.ai_chat_modal .modal-body .block_ai_chat-dialog {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.ai_chat_modal .content {
  display: flex;
  align-items: flex-start;
  padding: 0.5rem 1rem 0.5rem 1rem;
  margin-bottom: 0.5rem;
  position: relative;
}
.ai_chat_modal .message .copy {
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem 0.75rem 2.5rem 2.75rem;
}
.ai_chat_modal .message.ai:hover .copy {
  visibility: visible;
  cursor: pointer;
}
.ai_chat_modal .message.ai .content {
  padding-left: 0;
}
.ai_chat_modal .message.agent .content {
  background-color: var(--color-gray-light);
  margin-left: 4rem;
  border-radius: 0.5rem;
}
.ai_chat_modal .message.agent .content .ai_chat_icon {
  display: none;
}
.ai_chat_modal .message.agent .content p {
  margin-bottom: 0.1rem;
}
.ai_chat_modal .copiedtoast {
  position: absolute;
  top: -15px;
  right: 0;
  font-size: small;
  border: 1px solid;
  padding: 1px 3px;
  background: white;
  visibility: hidden;
}
.ai_chat_modal .block_ai_chat-input {
  display: flex;
  margin-top: 0.15rem;
  padding-bottom: 0.5rem;
  position: relative;
}
.ai_chat_modal .block_ai_chat-input .ai_chat_icon {
  position: absolute;
  bottom: 1.15rem;
  left: 0.5rem;
}
.ai_chat_modal .block_ai_chat-input textarea {
  height: inherit;
  background-color: var(--color-gray-light);
  padding: 1rem 4.1rem 1rem 3.2rem;
  resize: none;
  overflow: hidden;
  line-height: 1.5rem;
  min-height: 3.5rem;
  max-height: 8rem;
  box-sizing: border-box;
}
.ai_chat_modal .block_ai_chat-input button {
  position: absolute;
  bottom: 1rem;
  right: 0.5rem;
}
.ai_chat_modal .headeroptions {
  display: flex;
  align-items: center;
}
.ai_chat_modal .headeroptions .badge-pill {
  display: flex;
  align-items: center;
  height: 1.3rem;
  font-size: 50%;
}
.ai_chat_modal #block_ai_chat_userquota > div.alert.alert-info {
  color: var(--color-text-muted);
  background-color: inherit;
  font-size: 0.6rem;
  padding: 0;
  margin: 0;
  text-align: right;
}

.ai_fake_block {
  visibility: hidden;
  height: 0;
  margin: 0;
}

#page-footer [data-region=footer-container-popover] .btn-footer-popover[data-action=footer-popover] {
  display: none;
}

body.block_ai_chat_chatwindow .ai_chat_modal .modal-dialog {
  position: fixed;
  max-height: calc(100vh - 6rem);
  right: 2rem;
  bottom: 3rem;
}

body.block_ai_chat_chatwindow,
body.block_ai_chat_dockright {
  overflow: initial;
}
body.block_ai_chat_chatwindow .modal-backdrop.show, body.block_ai_chat_chatwindow .ai_chat_modal,
body.block_ai_chat_dockright .modal-backdrop.show,
body.block_ai_chat_dockright .ai_chat_modal {
  width: 0;
  height: 0;
}

body.block_ai_chat_openfull .ai_chat_modal .modal-dialog {
  max-width: 95%;
  min-height: 500px;
}
body.block_ai_chat_openfull .ai_chat_modal .ai_chat_modal_body {
  min-width: 80%;
  margin: 0 auto;
}

body.block_ai_chat_dockright.block_ai_chat_open #page-wrapper #page {
  margin-right: 50%;
}
body.block_ai_chat_dockright .ai_chat_modal .modal-dialog {
  position: fixed;
  max-width: 50%;
  height: calc(100% - var(--bycs-topbar-height));
  right: 0;
  bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}
body.block_ai_chat_dockright .ai_chat_modal .modal-dialog .modal-content {
  border-radius: 0;
  margin-top: -1px;
}
